<form action="/clients" method="POST">
    <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="telephone" class="form-label">Numero de celular</label>
        <input type="number" class="form-control" id="telephone" name="telephone">
    </div>
    <button type="submit" class="btn btn-primary">Guardar cliente</button>
</form>