<form action="/clients" method="POST">
    <div class="mb-3">
        <label for="firstName" class="form-label">Nombre(s)</label>
        <input type="text" name="first_name" class="form-control" id="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Apellido(s)</label>
        <input type="text" name="last_name" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" name="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="telephone" class="form-label">Correo electronico</label>
        <input type="tel" name="telephone" class="form-control" id="telephone">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>