<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
<body>
    <div class="container">
        <h1>Vista clientes</h1>
    <%- include('partials/client_form'); -%>
    <%- include('partials/clients_table'); -%>
    <%- include('partials/footer'); -%>
    </div>
</body>
</html>